<div class="pb-5">
    <!-- Container -->
    <div class="container-fixed flex items-center justify-between flex-wrap gap-3">
        <div class="flex items-center flex-wrap gap-1 lg:gap-5">
            <h1 class="font-medium text-base text-gray-900"></h1>
            <div class="flex items-center flex-wrap gap-1 text-sm">
                <a class="text-gray-700 hover:text-primary" href="#">
                    Accueil
                </a>
            </div>
        </div>
        
    </div>
    <!-- End of Container -->
</div>